# Flask App Config
FLASK_APP=run.py
FLASK_DEBUG=1
SECRET_KEY=your-secret-random-key

# Supabase (PostgreSQL) Database Config
DB_HOST=your-supabase-db-host
DB_PORT=5432 #6543
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=your-supabase-db-password